unpackaged/main/default/flows/Privacy_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Privacy Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Individual</name>
        <label>Create Individual</label>
        <locationX>363</locationX>
        <locationY>384</locationY>
        <assignRecordIdToReference>individualId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_with_Individual</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>UserInfo.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutGeoTracking</field>
            <value>
                <elementReference>I_don_t_want_you_to_track_my_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutSolicit</field>
            <value>
                <elementReference>I_don_t_want_to_be_contacted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutTracking</field>
            <value>
                <elementReference>I_don_t_want_you_to_track_my_usage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UserInfo.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>170</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Communication_Preferences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_Individual</name>
        <label>Update Contact with Individual</label>
        <locationX>365</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Welcome_to_Ursa_Major</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserInfo.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>individualId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Communication_Preferences</name>
        <label>Communication Preferences</label>
        <locationX>190</locationX>
        <locationY>384</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Individual</targetReference>
        </connector>
        <fields>
            <name>privacyPrompt</name>
            <fieldText>&lt;p&gt;We value your privacy! Let us know if you’d like us to contact you, know about your location, or track your portal usage to improve performance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_don_t_want_to_be_contacted</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t want to be contacted</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_don_t_want_you_to_track_my_usage</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t want you to track my usage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>I_don_t_want_you_to_track_my_location</name>
            <dataType>Boolean</dataType>
            <fieldText>I don&apos;t want you to track my location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_to_Ursa_Major</name>
        <label>Welcome to Ursa Major</label>
        <locationX>381</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thankYou</name>
            <fieldText>&lt;p&gt;Thank you for updating your privacy settings and welcome to the Ursa Major customer account portal!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>registrantsAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
